<html>

  <head>
    <title>Charmed Polling</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta charset='utf-8' />
    <meta lang='en' />
    <style type='text/css'>
      header {
        margin: 2%;
      }

      body {

        margin: 1%;
        text-align: center;
      }
    </style>

    <link type='text/css' rel='stylesheet' href='/styles/css/bootstrap.min.css' />
  </head>

  <body>
    <header>
      <h3>Charmed Polling</h3>
    </header>
    <main>
      <!--Start Login/Home Page-->
      {{#login}}
      <section>
        <h2>Welcome! Log in to create your own polls.</h2>
        <a href='/polls'>
          <button>View polls as a Guest</button>
        </a>
        <a href='/auth/github'>
          <button>GitHub Login</button>
        </a>
        <a href='/auth/twitter'>
          <button>Twitter Login</button>
        </a>

      </section>
      {{/login}}
      <!--End Login/Home Page-->

      <!--Start Named Header-->
      {{#logout}}
      <section>
        <h4>Welcome, {{username}}!</h4>
        <a href='/logout'>
          <button>Logout</button>
        </a>

      </section>
      {{/logout}}
      <!--End Named Header-->
      <!--Start /polls page-->
      {{#pollCreate}}
      <section>
        <form>
          <fieldset>
            <label>Create a new poll</label>
            <input id='enterPollTitle'></input>
            <button id='submitPollTitleButton' type='submit'>Submit</button>
          </fieldset>
        </form>
      </section>
      {{/pollCreate}} {{#pollSelect}}
      <h4>Select a poll from the options below.</h4>
      <section id='existingPolls'>
      </section> {{/pollSelect}}

      <!--End /polls page-->
      <br/>
      <!--Start specific poll template-->
      {{#viewExistingPoll}}
      <h4><strong>Poll:</strong> {{title}}<h4>
      <h5> by {{author}}<br/> created {{date}}</h5>
      <br/>
      <a href='/polls'>
        <button type='button'>Back to poll creation</button>
      </a>
      <br/>
      <br/>

      <!--Start Vote for existing canddiate section-->
      <form action='#'>
        <fieldset>
          <select id='dropdown-vote'></select>
          <button type='submit' onclick='voteForCandidate()'>Vote</button>
        </fieldset>
      </form>
      <!--End Vote for existing canddiate section-->

      <!--Start Enter New Canddiate Section-->
      {{#enterNewCandidate}}
      <section>
        <form>
          <fieldset><label>Enter a candidate</label>
            <input id='enterCandidate'></input>
            <button id='submitCandidateButton' type='submit'>Submit</button>
          </fieldset>
        </form>
      </section>
      {{/enterNewCandidate}}
      <!--End Enter New Canddiate Section-->

      <!--Start Chart-->
      <section>
        <div style='position: relative; left: 0; right: 0; margin: auto; height: 25vh; width: 50vw;'>
          <canvas id='myChart'></canvas>
        </div>
      </section>
      <!--End Chart-->
      {{/viewExistingPoll}}
      <!--End specific poll template-->

      <br/>

      <!--Start Remove Candidate/Poll Section-->
      {{#removeCandidateOrPoll}}
      <!--Start Remove Candidate Section-->
      <section style='position: relative; margin-top: 25vh; margin-bottom: 10px;'>
        <form action='#'>
          <fieldset>
            <select id='dropdown-remove'></select>
            <button id='removeCandidateButton' type='submit'>Remove Candidate</button>
          </fieldset>
        </form>
      <!--End Remove Candidate Section-->

      <!--Start Remove Poll Section-->
        <button type='submit' onclick='deletePoll()'>Delete Poll</button>
      <!--End Remove Poll Section-->
    </section>
      {{/removeCandidateOrPoll}}
      <!--End Remove Candidate/Poll Section-->

    </main>


    <script type='text/javascript' src='/common/ajax-functions.js'></script>
    <script type='text/javascript' src='/common/common-functions.js'></script>

    {{#pollControllerScripts}}
    <script type='text/javascript' src='/controllers/pollController.client.js'></script>
    {{/pollControllerScripts}} {{#viewExistingPoll}}
    <script type='text/javascript' src='/common/Chart.min.js'></script>
    <script type='text/javascript' src='/common/chart-template.js'></script>
    <script type='text/javascript' src='/controllers/candidateController.client.js'></script>
    {{/viewExistingPoll}}

  </body>

</html>
